.play-button {
    cursor: pointer;
  }
.leaderboard-txt{
    color: #aba8fa;
    font-family: Iceland;
    font-size: 100px;
}

.HiOutlineTrophy{
    align-items: center;
}


.container{
    width: 100%;
    height: 1000px;
    background-color: #252525;
    margin: auto;
    padding-top: 150px;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

.predict-button{
    margin: 0 auto;
    display: inline-block;
}


.bt-ul{
    padding: 20px;
}

.board-table-wrapper{
    width: 700px;
    background: #3f4d6b;
    align-items: center;
    font-family: Suit;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    align-self: center;
    color:white;
    overflow: auto;
    height: 450px;
    border-radius: .4em;
}

.tbl{
    margin: 0 auto;
}

.tbl-head{
    padding: 0;
}

.HiTrendingUp{
    align-items: center;
}
.predict-button{
    background: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    background-size: 300% 100%;
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    width: 180px;
    height: 50px;
    border: none;
    margin-right: 30px;
    font-family: Suit;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.predict-button:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.whole-button{
    background: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    background-size: 300% 100%;
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    width: 180px;
    height: 50px;
    border: none;
    margin-right: 30px;
    font-family: Suit;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.whole-button:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.pop-button{
    background: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    background-size: 300% 100%;
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    width: 120px;
    height: 40px;
    border: none;
    margin-right: 30px;
    font-family: Suit;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.pop-button:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.ballad-button{
    background: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    background-size: 300% 100%;
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    width: 120px;
    height: 40px;
    border: none;
    margin-right: 30px;
    font-family: Suit;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.ballad-button:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.dance-button{
    background: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    background-size: 300% 100%;
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    width: 120px;
    height: 40px;
    border: none;
    margin-right: 30px;
    font-family: Suit;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.dance-button:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.ths{
    text-align: center;
    letter-spacing: .1em;
    padding: 3px;
}

.tds{
    text-align: center;
}

.fir-page{
    display: inline-block;
    padding: 10px;
    background: transparent no-repeat center center;
    color: #FFFFFF;
    font-family: Suit;
}

.prev{
    display: inline-block;
    padding: 10px;
    background: transparent no-repeat center center;
    color: #FFFFFF;
    font-family: Suit;
}

.cur-page{
    display: inline-block;
    padding: 10px;
    background: transparent no-repeat center center;
    color: #FFFFFF;
    font-family: Suit;

}

.nxt-pg{
    display: inline-block;
    padding: 10px;
    background: transparent no-repeat center center;
    color: #FFFFFF;
    font-family: Suit;
}

.last-pg{
    display: inline-block;
    padding: 10px;
    background: transparent no-repeat center center;
    color: #FFFFFF;
    font-family: Suit;
}