.detail-wrapper{
    width: 100%;
    height: 1000px;
    background-color: #252525;
    padding-top: 300px;
}

.board-detail-all{
    align-items: center;
    text-align: center;
}

.comment-box{
    text-align: center;
    align-items: center;
}

.btns-board{
    text-align: center;
    align-items: center;
}

.comm-list{
    text-align: center;
    align-items: center;
}

.cmtable{
    align-content: center;
    align-self: center;
    text-align: center;
    align-items: center;
    margin: auto;
}