/* Write.css */

.write-page {
    height: 60px; /* Adjust the height as needed */
  }
  
  /* Style the write-container */
  .write-container {
    padding: 20px; /* Add padding to create space around the container */
    margin-top: 40px; /* Add margin at the top to create additional space */
    background-color: #f7f7f7; /* Add a background color to distinguish the container */
    border-radius: 5px; /* Optional: Add border radius for a rounded look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle effect */
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  
  /* Adjust content (CKEditor) height */
  .ck-editor__editable {
    min-height: 300px; /* Increase the height as needed */
  }
  .write-button {
    display: block;
    margin: 0 auto; /* Center the button horizontally */
    margin-top: 20px; /* Add some space between the content and the button */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .write-button:hover {
    background-color: #0056b3;
  }
  
  .write-button:focus {
    outline: none;
  }
  
  
  
  
  

  