.myboardWrap{
    background-color: #252525;
    width: 100%;
    height: 1000px;
}

.Btable{
    margin: 0 auto;
    align-items: center;
    text-align: center;
    display: table;
    background: #d8deee;
    width: 700px;
    height: 450px;
    border-radius: .4em;
    overflow: auto;
    justify-content: center;
    font-family: Suit;
    align-self: center;
}
.myBtable{
    display: table;
    margin: 0 auto;
}

.tr-info{
    font-family: Suit;
    color: black;

}
.nono{
    margin: 0 auto;
    text-align: center;
    align-self: center;
}