.liketbl-bar{
    background-color: #252525;
    width: 100%;
    height: 1000px;
}

.lkbar{
    display: contents;
}

.liketable{
    display: table;
    margin: 0 auto;
}

.kksong-table{
    display: table;
    margin: 0 auto;
}
