
.liketbl-bar{
    background-color: #252525;
    width: 100%;
    height: 1000px;
}

.lkbar{
    display: contents;
}

.gotosong{
    font-family: Suit;
    margin: 0 auto;
    padding-top: 200px;
}

.liketable{
    width: 800px;
    background: #d8deee;
    align-items: center;
    font-family: Suit;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    align-self: center;
    overflow: auto;
    height: 450px;
    border-radius: .4em;
    justify-content: center;
}

.kksong-table{
    display: table;
    margin: 0 auto;
}


.mlth{
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.mlth-title{
    color:black;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}



.kksong-table{
    display: table;
    margin: 0 auto;
    font-family: Suit;
    text-align: center;
}

.mlsth{
    font-size: 17px;
    letter-spacing: 1px;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    color: black
}

.mlsth-title{
    font-size: 17px;

    width: 200px;
    color: black;
}

.mlmltd{
    text-align: center;
    padding-bottom: 5px;
    color: black;
}