.bar-table{
    color: #252525;
    background-color: #252525;
    display: block;
}


.form-table{
    background-color: #252525;
    transform: translate(-50%, -50%);
    align-items: center;
    position: absolute;
    padding-bottom: 80%;
    overflow: visible;
}
