.menubar{
    font-family: "Iceland";
    width:95%;
    margin:30px;
    align-items: center;
    justify-content: space-between;
    background-color: #000000 ;
    position: sticky;
}

.logo{
    color: black;
    background: transparent;
    border: 1px solid #000;
}

.logo-png{
    width:250px;
    height:61px;
    object-fit: cover;
    background-color: #000000;
    cursor: pointer;
    margin: 0 auto;
}
.menutexts {
    display: flex;
    list-style: none;
    font-size:25px;
    color: white;
}
.parent-icon-hit{
    display:flex;
    align-items: center;
}
.menu-hit{
    margin-right:30px;
    font-family: Iceland;
    color: white;
    background-color: #000000;
    border: 1px solid #000000;
    font-size: 28px;
    cursor: pointer;

}
.parent-icon-lb{
    display:flex;
    align-items: center;
}
.menu-lb{
    margin-right:30px;
    font-family: Iceland;
    color: white;
    background-color: #000000;
    border: 1px solid #000000;
    font-size: 28px;
    cursor: pointer;
}
.parent-icon-com{
    display:flex;
    align-items: center;
}
.menu-commu{
    margin-right:30px;
    font-family: Iceland;
    color: white;
    background-color: #000000;
    border: 1px solid #000000;
    font-size: 28px;
    cursor: pointer;
}

.parent-icon-su{
    display:flex;
    align-items: center;
}
.menu-signup{
    margin-right:30px;
    font-family: Iceland;
    color: white;
    background-color: #000000;
    border: 1px solid #000000;
    font-size: 28px;
    cursor: pointer;
}

.parent-icon-login{
    display:flex;
    align-items: center;
}
.menu-login{
    margin-right:30px;
    font-family: Iceland;
    color: white;
    background-color: #000000;
    border: 1px solid #000000;
    font-size: 28px;
    cursor: pointer;
}
