header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: 7rem !important;
    padding-bottom: 7rem;
    background: linear-gradient(180deg, rgba(123, 152, 255, 0.28) 0%, rgba(0, 0, 0, 0.28) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

input[type="text"], input[type="password"] {
    width: 50%;
    margin: 0 auto;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

#signup {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    padding: 8px 20px;
}

.label_text {
    display: block;
    text-align: left;
    margin-top: 0;
    margin-left: 25%;
}