.signup-box{
    background-color: #252525;
    padding-top: 300px;
    padding-bottom: 300px;

}

.form-box{
    background: #000000;
    border: 1px solid #191919;
    border-radius: .4em;
    width: 800px;
    height: 100%;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    margin: 0 auto;
    color: white;
    align-content: center;
    align-items: center;
    text-align: center;

}

.signup-txt{
    font-family: Iceland;
    font-size: 120px;
    color: #6930C3;
    text-align: center;
}

.agree-list{
    width: 500px;
    margin: 0 auto;
    font-family: suit;
    text-align: center;
    align-items: center;
}

.join-box{
    border: 1px solid #000000;
    background-color: #fff;
    list-style: none;
    width: 100%;
}


.checkBox-check02{
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    position: relative;
}
.agtf{
    display: inline-block;
}
.agree-txt-first{
    display: inline;
}
.chkbox1{
    display: inline;
}

.checkBox-check03{
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    list-style: none;
    position: relative;

}
.agtxsec{
    display: inline;
}
.chkbox2{
    display: inline;
}




.first{
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background-color: #f7f7f7;
    color: #888;
    border: 1px solid antiquewhite;
    font-family: Suit;

}




.second{
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background-color: #f7f7f7;
    color: #888;
    border: none;
    font-family: Suit;
}

.jumbotron{
    background-color: black;
    font-family: Suit;
}


.form-group {
    margin-top: 20px;
    margin-bottom: 20px;


}

.select-control {
    flex: 0.1;

}



.label_text {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-family: Suit;
}

.form-control{
    display: block;
    align-items: center;
    width: 240px;
    margin: 0 auto;

}

.select-control {
    flex: 0.5;
}
input[type="text"], input[type="password"] {
    width: 30%;
    margin: 0 auto;
    background-color: #ffffff;
    font-family: Suit;
}

.email-state{
    text-align: center;
    font-size: 11px;
    font-family: Suit;
}

.re-pwd-state{
    text-align: center;
    font-size: 11px;
    font-family: Suit;
}

.pwd-state{
    text-align: center;
    font-size: 11px;
    font-family: Suit;
}

.btn-signup{
    background-color: #252525;
    color: white;border-radius: .6em;
    border: none;
    cursor: pointer;
}


.btn-btn-primary{
    width: 120px;
    height: 40px;

    border: 2px solid #ecdfdf;
    font-family: 'Suit';
    font-weight: 500;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    display: compact;
}

.btn-btn-primary-btn-block{
    width: 120px;
    height: 40px;
    padding-bottom: 5px;
    border: 2px solid #ecdfdf;
    font-family: Suit;
    font-weight: 500;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;

}